{% extends 'base.html.twig' %}

{% block title %}Welcome!{% endblock %}

{% block main %}
    <section class="home-section">
        <h1 class="home-title">Bienvenue sur Sablier !</h1>
        <div class="home-container">

            <p class="home-subtitle">Présentation du site !</p>
            <p>4derniers produits ajoutés</p>

            <div class="home-actions">
                <a href="{{path('gallerie')}}" class="btn-main">Voir les Sabliers</a>
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <a href="{{path('addPicture')}}" class="btn-secondary">Ajouter un sablier</a>
                {% else %}
                    <a href="{{ path('app_login') }}" class="btn-secondary">Se connecter</a>
                {% endif %}
            </div>
        </div>
        
    </section>
{% endblock %}
