{% extends 'base.html.twig' %}

{% block title %}Hello DetailController!{% endblock %}

{% block main %}
<h1> Nom de l'objet</h1>
<p>image, une carac spécifique du produit, valeur estimée, description détaillée; les commentaires et le champ pour laisser un com</p>

{% endblock %}
